{% extends 'base.html' %}

{% block title %}
    YingOps-空白页
{% endblock %}

{% block elactive %}class="active open"{% endblock %}
{% block blactive %}class="active"{% endblock %}

{% block content %}
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try {
                    ace.settings.check('breadcrumbs', 'fixed')
                } catch (e) {
                }
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="/host/index/">首页</a>
                </li>

                <li>
                    <a href="#">其他页面</a>
                </li>
                <li class="active">空白页面</li>
            </ul><!-- .breadcrumb -->

            <div class="nav-search" id="nav-search">
                <form class="form-search">
            <span class="input-icon">
                <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input"
                       autocomplete="off">
                <i class="icon-search nav-search-icon"></i>
            </span>
                </form>
            </div><!-- #nav-search -->
        </div>
    </div>

{% endblock %}

{% block js %}

{% endblock %}